<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>Gestion Revue</span>
  <div class="spacer"></div>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button [matMenuTriggerFor]="Articles">Articles</a>
  <a mat-raised-button color="accent">Logout</a>
</mat-toolbar>
<mat-menu #Articles=matMenu>
  <button  routerLink="/articles"  mat-menu-item>Liste Articles</button>
  <button  routerLink="/addArticle"  mat-menu-item>Ajouter un Article</button>
  <button  routerLink="/mesArticles"  mat-menu-item>Voir mes Articles</button>
  <button  routerLink="/articlesAEvaluer"  mat-menu-item>Articles à Evaluer</button>
</mat-menu>

<div class="col-sm-11 mt-3 ml-5">
  <div class="card" *ngIf="mode==1">
    <div class="card-header bg-dark">
      <h3 class="card-title text-white">Nouveau Article</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form class="form-horizontal" (ngSubmit)="ajouterArticle(f.value)" #f="ngForm" enctype="multipart/form-data">
      <div class="card-body">
        <div class="form-group">
          <label for="titre" class="control-label col-sm-auto">Titre : </label>
          <div class="col-sm-auto">
            <input type="text" id="titre" class="form-control" placeholder="Titre" name="titre" ngModel required/>
          </div>
        </div>
        <div class="form-group">
          <label for="affiliation" class="control-label col-sm-auto">Affiliation : </label>
          <div class="col-sm-auto">
            <input type="text" id="affiliation" class="form-control" name="affiliations" placeholder="Affiliation" ngModel required/>
          </div>
        </div>
        <div class="form-group">
          <label for="resume" class="control-label col-sm-auto">Résumé : </label>
          <div class="col-sm-auto">
            <input type="text" id="resume" class="form-control" placeholder="Résumé" name="resume" ngModel required/>
          </div>
        </div>
        <div class="form-group">
          <label for="motCle" class="control-label col-sm-auto">Mots clés : </label>
          <div class="col-sm-auto">
            <input type="text" id="motCle" class="form-control" placeholder="Mots Clés" name="motCle" ngModel required/>
          </div>
        </div>
        <div class="form-group">
          <label for="contenu" class="control-label col-sm-auto">Contenu : </label>
          <div class="col-sm-auto">
            <input type="file" id="contenu" (change)="onFileChanged($event)" class="form-control pt-1 pl-5" name="contenu" ngModel />
          </div>
        </div>
        <div>
          <mat-form-field class="form-group ml-2 mr-3" style="width: 99%">
            <mat-label class="ml-3">Auteur Correspondant: </mat-label>
            <mat-select placeholder="selectionner un auteur" class="form-control"  name="auteurCorrespondant" ngModel>
                <mat-option *ngFor="let a of auteurs" [value]="a">{{a.nom}} {{a.prenom}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-group ml-2 mr-3" style="width: 99%">
            <mat-label class="ml-3">Co-Auteurs: </mat-label>
            <mat-select placeholder="selectionner un auteur" class="form-control" multiple  name="co_auters" ngModel>
                <mat-option *ngFor="let a of auteurs" [value]="a">{{a.nom}} {{a.prenom}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <button type="submit" class="btn btn-dark" [disabled]="!f.valid">Enregistrer</button>
      </div>

      <!-- /.card-footer -->
    </form>
  </div>
  <div class="col-sm-11 mt-2 ml-5">
    <div class="card card-info" *ngIf="mode==2">
      <div class="card-header">
        <h3 class="card-title">Nouveau Article</h3>
      </div>
      <div class="card-body">
        <div class="card-body table-responsive p-0" style="float: right">
          <table class="table table-hover">
            <tr class="border-top-0">
              <td class="size24 font-weight-bold">Titre: </td>
              <td class="size24">{{article.titre}}</td>
            </tr>
            <tr>
              <td class="size24 font-weight-bold">Affiliations: </td>
              <td class="size24">{{article.affiliations}}</td>
            </tr>
            <tr>
              <td class="size24 font-weight-bold">Résumé :</td>
              <td class="size24">{{article.resume}}</td>
            </tr>
            <tr>
              <td class="size24 font-weight-bold">Mots Clés :</td>
              <td class="size24">{{article.motCle}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
