<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>Gestion Revue</span>
  <div class="spacer"></div>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button routerLink="/login" *ngIf="!authenticated">Authentification</a>
  <a mat-raised-button color="accent" routerLink="/inscription" *ngIf="!authenticated">Inscription</a>
  <a mat-button [matMenuTriggerFor]="Articles" *ngIf="authenticated && !comite">Articles</a>
  <a mat-button [matMenuTriggerFor]="ArticlesComite" *ngIf="authenticated && comite">Articles</a>
  <a mat-raised-button color="accent" *ngIf="authenticated" (click)="logout()">Logout</a>
</mat-toolbar>
<mat-menu #Articles=matMenu>
  <button  routerLink="/articles"  mat-menu-item>Liste Articles</button>
  <button  routerLink="/addArticle"  mat-menu-item>Ajouter un Article</button>
  <button  routerLink="/mesArticles"  mat-menu-item>Voir mes Articles</button>
  <button  routerLink="/articlesAEvaluer"  mat-menu-item>Articles à Evaluer</button>
</mat-menu>
<mat-menu #ArticlesComite=matMenu>
  <button  routerLink="/listeArticles"  mat-menu-item>Liste Articles</button>
  <button  routerLink="/ArticlesEnCours"  mat-menu-item>Articles En cours d'Evaluation</button>
  <button  routerLink="/articlesRecentes"  mat-menu-item>Articles Recentes</button>
</mat-menu>


<div class="col-sm-11 mt-3 ml-5">
  <div class="card ">
    <div class="card-header bg-dark">
      <h2 class="card-title text-white"><strong>Détails Article {{article.titre}}</strong></h2>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <div class="card-body">

      <div style="float: left; width: 75%" class="ml-5">
        <table class="table table-borderless">
          <tr>
            <td class="size24 font-weight-bold">Titre: </td>
            <td class="size24">{{article.titre}}</td>
          </tr>

          <tr>
            <td class="size24 font-weight-bold">Résumé :</td>
            <td class="size24">{{article.resume}}</td>
          </tr>
          <tr>
            <td class="size24 font-weight-bold">Mots Clés :</td>
            <td class="size24">{{article.motCle}}</td>
          </tr>
          <tr>
            <td class="size24 font-weight-bold">Auteur</td>
            <td class="size24">{{auteur.nom}} {{auteur.prenom}}</td>
          </tr>
          <tr>
            <td class="size24 font-weight-bold">Co-auteurs</td>
            <td class="size24">
              <p *ngFor="let a of co_auteurs">{{a.nom}} {{a.prenom}}</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="spacer card-footer" style="width: 100%; float: left">
        <button class="btn btn-dark " style="width: 100%;" routerLink="/inscription"><strong class="size24">Plus de details</strong></button>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
</div>

