<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>Gestion Revue</span>
  <div class="spacer"></div>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button routerLink="/utilisateur/articles">Articles avec Details</a>
  <a mat-raised-button color="accent" >Deconnecter</a>
</mat-toolbar>


<section class="content mt-5 ml-lg-5" >
  <div class="row" style="margin-left: 8%">
    <div class="col-sm-10 mt-2 ml-lg-5">
      <div class="card">
        <div class="card-header bg-dark">
          <h1 class="card-title"><strong style="color: white">Liste des Articles</strong></h1>

        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" >
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Titre</th>
              <th>Affiliation</th>
              <th>Mots Cles</th>
              <th colspan="3" align="center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let a of articles;" class="clickable" >
              <td>{{a.titre}}</td>
              <td>{{a.affiliations}}</td>
              <td>{{a.motCle}}</td>
              <td><a class="clickable " routerLink="{{a.idArticle}}/details">Plus de details<span class="glyphicon glyphicon-circle-arrow-right"></span></a></td>
            </tr>
            </tbody>
          </table>
          <div>
            <p></p>
          </div>
          <div class="container pagination" *ngIf="pages!=0">
            <a [ngClass]="{'active':i==currentPage}" class="clickable" *ngFor="let p of pages; let i=index" (click)="goToPage(i)" >{{i}}</a>
          </div>
          <div>
            <p></p>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>

