
<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>Gestion Revu</span>
  <div class="spacer"></div>
  <a mat-button routerLink="/about">Home</a>
  <a mat-button [matMenuTriggerFor]="Credit">Articles</a>
  <a mat-raised-button color="accent">Logout</a>
</mat-toolbar>
<mat-menu #Credit=matMenu>
  <button  routerLink="/credits"  mat-menu-item>Liste Articles</button>
  <button  routerLink="/typesCredits"  mat-menu-item>Articles Recentes</button>
  <button  routerLink="/new-typeCredit"  mat-menu-item>Articles Encours d'Evaluation</button>
</mat-menu>
<router-outlet></router-outlet>

