<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>Gestion Revue</span>
  <div class="spacer"></div>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button [matMenuTriggerFor]="Articles">Articles</a>
  <a mat-raised-button color="accent">Logout</a>
</mat-toolbar>
<mat-menu #Articles=matMenu>
  <button  routerLink="/articles"  mat-menu-item>Liste Articles</button>
  <button  routerLink="/addArticle"  mat-menu-item>Ajouter un Article</button>
  <button  routerLink="/mesArticles"  mat-menu-item>Voir mes Articles</button>
  <button  routerLink="/articlesAEvaluer"  mat-menu-item>Articles à Evaluer</button>
</mat-menu>


<section class="content mt-5 ml-lg-5" >
  <div class="row" style="margin-left: 8%">
    <div class="col-sm-10 mt-2 ml-lg-5">
      <div class="card">
        <div class="card-header bg-dark">
          <h1 class="card-title"><strong style="color: white">Les Articles A Evaluer</strong></h1>

        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" >
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Titre</th>
              <th>Affiliation</th>
              <th>Mots Cles</th>
              <th align="center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let a of articles;" class="clickable" >
              <td>{{a.titre}}</td>
              <td>{{a.affiliations}}</td>
              <td>{{a.motCle}}</td>
              <td><a class="clickable " routerLink="" (click)="goDetails(a.idArticle)">Plus de details<span class="glyphicon glyphicon-circle-arrow-right"></span></a></td>
            </tr>
            </tbody>
          </table>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>

