<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>Gestion Revue</span>
  <div class="spacer"></div>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button routerLink="/authentification">Authentification</a>
  <a mat-raised-button color="accent" routerLink="/inscription">Inscription</a>
</mat-toolbar>

<div class="container spacer">
<div class="card" *ngIf="mode==1">
  <div class="form-group">
          <label class="custom-control-label">Vous etes ?</label>
        </div>

<div>
        <button class="btn btn-dark" (click)="enregistrerAuteurr()" >Auteur</button></div>
	<div>	<button class="btn btn-dark" (click)="enregistrerUtilisateurr()" >Lecteur</button></div>


</div>


<div class="card" *ngIf="mode==4">
    <div class="card-header btn-block sfontm" >Veuillez s'inscrir pour recevoir plus de details sur nos articles</div>
    <div class="card-body">
      <div >

        <div class="form-group">
          <label class="custom-control-label">nom:</label>
          <input  class="form-control" type="text" [(ngModel)]="auteur.nom"  />
        </div>
        <div class="form-group">
          <label class="custom-control-label"> prenom:</label>
          <input  class="form-control" type="text" [(ngModel)]="auteur.prenom"  />
        </div>
        <div class="form-group">
          <label class="custom-control-label">email:</label>
          <input  class="form-control" type="email" [(ngModel)]="auteur.email"  />
        </div>
        <div class="form-group">
          <label class="custom-control-label">telephone:</label>
          <input  class="form-control" type="number" [(ngModel)]="auteur.telephone"  />
        </div>
        <div class="form-group">
          <label class="custom-control-label">adresse:</label>
          <input  class="form-control" type="text" [(ngModel)]="auteur.adresse"  />
        </div>
        <div class="form-group">
          <label class="custom-control-label">username:</label>
          <input  class="form-control" type="text" [(ngModel)]="auteur.username"  />
        </div>
        <div class="form-group">
          <label class="custom-control-label">password:</label>
          <input  class="form-control" type="password" [(ngModel)]="auteur.password"  />
        </div>

        
        <button class="btn btn-dark" (click)="enregistrerAuteur()" >Inscription</button>
		


      </div>

    </div>
  </div>





  <div class="card" *ngIf="mode==2">
    <div class="card-header btn-block sfontm" >Veuillez s'inscrir pour recevoir plus de details sur nos articles</div>
    <div class="card-body">
      <div >

        <div class="form-group">
          <label class="custom-control-label">nom:</label>
          <input  class="form-control" type="text" [(ngModel)]="aut.nom"  />
        </div>
        <div class="form-group">
          <label class="custom-control-label"> prenom:</label>
          <input  class="form-control" type="text" [(ngModel)]="aut.prenom"  />
        </div>
        <div class="form-group">
          <label class="custom-control-label">email:</label>
          <input  class="form-control" type="email" [(ngModel)]="aut.email"  />
        </div>
        <div class="form-group">
          <label class="custom-control-label">telephone:</label>
          <input  class="form-control" type="number" [(ngModel)]="aut.telephone"  />
        </div>
        <div class="form-group">
          <label class="custom-control-label">adresse:</label>
          <input  class="form-control" type="text" [(ngModel)]="aut.adresse"  />
        </div>
        <div class="form-group">
          <label class="custom-control-label">username:</label>
          <input  class="form-control" type="text" [(ngModel)]="aut.username"  />
        </div>
        <div class="form-group">
          <label class="custom-control-label">password:</label>
          <input  class="form-control" type="password" [(ngModel)]="aut.password"  />
        </div>

        
		<button class="btn btn-dark" (click)="enregistrerUtilisateur()" >Inscription</button>


      </div>

    </div>
  </div>

  <div class="card" *ngIf="mode==3">
    <div class="card-header btn-block sfontm"  >Confirmation</div>
    <div class="card-body">
      <div >

        <div class="form-group">
          <label class="custom-control-label">nom :</label>
          <label >{{aut.nom}}</label>
        </div>

        <div class="form-group">
          <label class="custom-control-label">prenom:</label>
          <label >{{aut.prenom}}</label>
        </div>
        <div class="form-group">
          <label class="custom-control-label">email:</label>
          <label >{{aut.email}}</label>
        </div>
        <div class="form-group">
          <label class="custom-control-label">telephone:</label>
          <label >{{aut.telephone}}</label>
        </div>
        <div class="form-group">
          <label class="custom-control-label">adresse:</label>
          <label >{{aut.adresse}}</label>

        </div>
        <div class="form-group">
          <label class="custom-control-label">username:</label>
          <label >{{aut.username}}</label>
        </div>
       

        <button class="btn btn-danger" routerLink="/utilisateur/articles" >Voir Liste d'Articles avec Details</button>

      </div>

    </div>
  </div>
  
   <div class="card" *ngIf="mode==5">
    <div class="card-header btn-block sfontm"  >Confirmation</div>
    <div class="card-body">
      <div >

        <div class="form-group">
          <label class="custom-control-label">nom :</label>
          <label >{{auteur.nom}}</label>
        </div>

        <div class="form-group">
          <label class="custom-control-label">prenom:</label>
          <label >{{auteur.prenom}}</label>
        </div>
        <div class="form-group">
          <label class="custom-control-label">email:</label>
          <label >{{auteur.email}}</label>
        </div>
        <div class="form-group">
          <label class="custom-control-label">telephone:</label>
          <label >{{auteur.telephone}}</label>
        </div>
        <div class="form-group">
          <label class="custom-control-label">adresse:</label>
          <label >{{auteur.adresse}}</label>

        </div>
        <div class="form-group">
          <label class="custom-control-label">username:</label>
          <label >{{auteur.username}}</label>
        </div>
       

        <button class="btn btn-danger" routerLink="/utilisateur/articles" >Voir Liste d'Articles avec Details</button>

      </div>

    </div>
  </div>
  
  
  
</div>
